root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,h,l,y,pl,pm}]
indent_style = tab
indent_size = tab
tab_width = 4

[*.{sgml,xml}]
indent_style = space
indent_size = 1

[*.xsl]
indent_style = space
indent_size = 2

# Certain data files that contain special whitespace, and other special cases
[*.data]
trim_trailing_whitespace = false
insert_final_newline = unset

[contrib/pgcrypto/sql/pgp-armor.sql]
trim_trailing_whitespace = false

[src/backend/catalog/sql_features.txt]
trim_trailing_whitespace = false

# Test output files that contain extra whitespace
[*.out]
trim_trailing_whitespace = false
insert_final_newline = unset

[src/interfaces/ecpg/test/expected/*]
trim_trailing_whitespace = false
insert_final_newline = unset
